.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  //TABLET
  @media only screen and (max-width: 768px) {
    gap: 0.25rem;
  }
  //MOBILE
  @media only screen and (max-width: 480px) {
    gap: 0.1rem;
  }

  &__link {
    color: var(--color-white);
    text-decoration: none;
    padding: 0.25rem;
    font-size: 1rem;
    margin: 0;
    border-radius: var(--border-round);
    transition: all 250ms ease-in-out;
    //TABLET
    @media only screen and (max-width: 768px) {
      font-size: 0.5rem;
    }
    //MOBILE
    @media only screen and (max-width: 480px) {
      font-size: 0.25rem;
    }

    &:hover {
      color: var(--color-mint);
      border: 1px solid var(--color-mint);
    }
    &:active {
      color: var(--color-white);
    }
  }
}
